frames
videos
yolo_dataset
yolo-labels
frames_test_data
landmarks_output
landmarks_output_test_data
cropped_faces_test_data
cropped_faces
features_output
window_pre-req
features_filtered
features_output_s2
frames_mapped_s2
validation_plots
window_pre-req_s2
val.xml
shape_predictor_ir.dat
shape_predictor_68_face_landmarks.dat
train.xml
training_with_face_landmarks.xml
data/*
yolo/*
.csv
# Ignore everything
*

# Except these two files (adjust paths if needed)
!README.md
!Final_Presentation.pptx
